BASE_RPC_URL=https://mainnet.base.org
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
ETH_RPC_URL=https://eth.llamarpc.com
PRIVATE_KEY=0x_your_deployer_key
BASESCAN_API_KEY=
USDC_BASE=0x833589fCD6eDb6E08f4c7C32D4f71b54bdA02913
CHAINLINK_XAU_USD=0x214eD9Da11D2fbe465a6fc601a91E62EbEc1a0D6
NEXT_PUBLIC_CHAIN_ID=8453
NODE_ENV=development
